@import url("https://db.onlinewebfonts.com/c/ffa77d1a7abf63e91e70f37b34dfe2f8?family=ITC+Officina+Serif");

.vivo {
  font-family: "ITC Officina Serif";
}

.app.vivo {
  text-align: center;
}

.header.vivo {
  background-color: rgb(70, 30, 95);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo.vivo {
  height: 50px; /* You must set a specified height */
  width: 150px;
  margin: auto;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url(https://celular.vivo.com.br/planos/pre/img/vivo-turbo-header-logo-pre.png);
}

.primary-text-color.vivo {
  color: #609;
}

.dark-bg.vivo {
  background: rgb(88, 31, 138);
  background: linear-gradient(
    45deg,
    rgba(88, 31, 138, 1) 0%,
    rgba(118, 72, 159, 1) 100%
  );
}

.bright-bg.vivo {
  background: rgb(221, 66, 172);
  background: linear-gradient(
    45deg,
    rgb(180, 64, 143) 0%,
    rgba(255, 64, 196, 1) 100%
  );
}

.btn.details.vivo:hover {
  background: #76489f30;
}

.btn.details.vivo {
  color: #76489f;
  border: 0.05em solid #76489f;
  background: transparent;
}

.btn.vivo {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #ffffff;

  background: #ffb624;
  padding: 10px 20px 10px 20px;
  transition: 0.3s;
  text-decoration: none;
}

.btn.vivo:hover {
  animation-duration: 500ms;
  transition: 0.3s;
  background: #fccc3c;
  transform: scale(1.1);
  text-decoration: none;
}
